NODE_ENV=development
PORT=4000
CLIENT_ORIGINS=http://localhost:3000,http://localhost:3001,https://swiftgoma.com,https://swiftgoma.vercel.app,https://swift-goma-web.vercel.app,https://admin-swiftgoma.vercel.app
SENTRY_DSN=
REDIS_URL=redis://localhost:6379
APP_URL=http://localhost:3000
ALLOW_PROD_SEED=true
DATABASE_URL=

# ============= CLOUDINARY ================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ============= EMAIL ================
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=info@swiftgoma.com
SMTP_PASS=stmp_password
SMTP_FROM_NAME=Swiftgoma
SMTP_FROM_EMAIL=info@swiftgoma.com

# ============= SMS ================
AFRICASTALKING_API_KEY=
AFRICASTALKING_USERNAME=
AFRICASTALKING_SENDER_ID=

# ============= JWT & COOKIES ==========
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN_MINUTES=15
JWT_REFRESH_EXPIRES_IN_DAYS=30
COOKIE_DOMAIN=
COOKIE_SAMESITE=lax

# ============= TOTP ==========
TOTP_SECRET_ENCRYPTION_KEY=

# ============= GOOGLE CLOUD ==========
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ============= PASSKEYS ==========
WEBAUTHN_RP_ID=localhost
WEBAUTHN_RP_NAME=SwiftGoma

# ============= ONESIGNAL ==========
BASE_URL=https://onesignal.com/api/v1
API_KEY=
APP_ID=

# ============= PAWAPAY ==========
PAWAPAY_ENVIRONMENT=sandbox
PAWAPAY_SIGNING_ENABLED=false
PAWAPAY_SANDBOX_API_TOKEN=
PAWAPAY_SANDBOX_PRIVATE_KEY_PEM=
PAWAPAY_SANDBOX_KEY_ID=
PAWAPAY_SANDBOX_PUBLIC_KEY_PEM=
PAWAPAY_PRODUCTION_API_TOKEN=
PAWAPAY_PRODUCTION_KEY_ID=
PAWAPAY_PRODUCTION_PRIVATE_KEY_PEM=
PAWAPAY_PRODUCTION_PUBLIC_KEY_PEM=
PAWAPAY_CALLBACK_BASE_URL=https://embezzle-finisher-departure.ngrok-free.dev

# ============= MBIOPAY ==========
MBIYOPAY_ENVIRONMENT=sandbox
MBIYOPAY_SANDBOX_API_KEY=
MBIYOPAY_PRODUCTION_API_KEY=
MBIYOPAY_WEBHOOK_SECRET=
MBIYOPAY_CALLBACK_BASE_URL=https://embezzle-finisher-departure.ngrok-free.dev